.navbar {
  background-color: #242d38;
}

.navbar-nav .nav-item .nav-link {
  color: #a1a9b5;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #6C7988;
}
